<style>
    .main-footer.style-six .footer-top {
        padding-bottom: 12px
    }

    .main-footer.style-six .about-widget .download-btn a {
        background-color: transparent;
    }

    .main-footer.style-six .footer-top:before {
        content: none;
    }

    .main-footer.style-six .footer-top {
        padding-bottom: 150px;
    }

    .main-footer.style-six .copyright {
        margin-top: 50px;
    }

    @@media only screen and (max-width: 767px) {
        .main-footer.style-five {
            background-color: #ff0000;
        }
    }
</style>

<footer class="main-footer style-five style-six" style="z-index:999">
    <div class="image-layer" style="background-image: url(/Content/Custom/Template/Images/Homepage/footer-bg.png); "></div>
    <div class="container">
        <div class="footer-top">
            <div class="widget-section">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="about-widget footer-widget">
                            <figure class="footer-logo">
                                <a href="index.html"><img src="~/Content/Custom/Template/Images/Homepage/wot-logo.png" height="130" width="130" alt="WOT Logo" title="WOT Logo"></a>
                            </figure>
                            <div class="text">
                                WorkofTime'a geçiş yapmak çok kolay. Hızlı kurulum ve kolay kullanım ile ekiplerinizi hızlı bir şekilde WorkOfTime'a taşıyın.
                            </div>
                            <div class="apps-download">
                                <h3>Mobil Uygulamayı Hemen İndirin</h3>
                                <div class="download-btn">
                                    <a href="https://apps.apple.com/tr/app/workoftime/id1500012649?l=tr" class="app-store-btn" target="_blank">
                                        <i class="fab fa-apple"></i>
                                        App Store
                                        <span>Üzerinden İndirin</span>
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=com.infoline.intranet" class="google-play-btn" target="_blank">
                                        <i class="fab fa-android"></i>
                                        Google Play
                                        <span>Üzerinden İndirin</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="links-widget footer-widget">
                            <h4 class="widget-title" style="font-weight:700">HIZLI ERİŞİM</h4>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="/Home/AskToUs"> Kullanım Koşulları</a></li>
                                    <li><a href="/Home/Feautures"> Özellikler</a></li>
                                    <li><a href="/Home/AskToUs"> Sık Sorulan Sorular</a></li>
                                    <li><a> Çerez Politikası</a></li>
                                    <li><a href="/Home/PrivacyPolicy"> Gizlilik Politikası ve KVKK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="links-widget footer-widget">
                            <h4 class="widget-title" style="font-weight:700">DESTEK</h4>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="https://demo.workoftime.com/" target="_blank"> Giriş</a></li>
                                    <li><a href="https://infoline-tr.com/Corporate/AboutUs" target="_blank"> Hakkımızda</a></li>
                                    <li><a href="https://infoline-tr.com/Corporate/OurPolicy" target="_blank"> Kalite Politikamız</a></li>
                                    <li><a href="https://infoline-tr.com/Corporate/QualityCertificates" target="_blank"> Kalite Belgelerimiz</a></li>
                                    <li><a href="/Home/Demo"> Demo Talebi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="contact-widget footer-widget">
                            <h4 class="widget-title" style="font-weight:700">İLETİŞİM</h4>
                            <div class="widget-content">
                                <ul class="contact-info clearfix">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Hacettepe Teknokent
                                        6. Arge C Blok / Ankara <br />
                                        <i class="fas fa-map-marker-alt"></i>
                                        Yıldız Teknik Üniversitesi
                                        Teknopark B2 Blok / İstanbul
                                    </li>

                                    <li>
                                        <i class="fas fa-phone"></i><a href="tel:90312 4400250">+90 (312) 440 02 50</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i><a href="tel:902122121923">+90 (212) 212 19 23</a>
                                    </li>

                                    <li>
                                        <i class="fas fa-envelope"></i><a href="mailto:info@workoftime.com">info@workoftime.com</a>
                                    </li>

                                </ul>
                            </div>
                            <ul class="social-links clearfix">
                                <li><a href="https://www.linkedin.com/company/infolinetr/?originalSubdomain=tr" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/infolinetr/?hl=tr#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCzQ5O0c4iLPEak5JoN6q4zA" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.facebook.com/infolinebilgiteknolojileri/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    @*background: rgb(240 5 5 / 50%)*@
    <div style="font-size:20px; background-color:transparent;" class="copyright">&copy; 2022 <a href="https://www.infoline-tr.com/">Infoline Bilgi Teknolojileri Tic. A.Ş.</a> Tüm hakları saklıdır.</div>
</footer>
