<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="WebSecurity" type="Infoline.Web.SecurityWebConfig"/>
  </configSections>
  <WebSecurity LoginPage="/security/login" CookieName="Mira" TicketLife="30">
    <Securepath>/</Securepath>
    <Publicpath>/Security/Login</Publicpath>
    <Publicpath>/Security/SignUp</Publicpath>
    <Publicpath>/Security/ForgotPassword</Publicpath>
    <Publicpath>/GetTime</Publicpath>
  </WebSecurity>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="*.js" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework"/>
      <add path="*.css" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework"/>
    </httpHandlers>
    <customErrors mode="RemoteOnly" defaultRedirect="err.htm" redirectMode="ResponseRewrite"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpModules>
      <add name="Security" type="Infoline.Web.SecurityAuthenticationModule,Infoline.Framework"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Security" type="Infoline.Web.SecurityAuthenticationModule,Infoline.Framework"/>
    </modules>
    <handlers>
      <add name="staticjs" path="*.js" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework"/>
      <add name="staticcss" path="*.css" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework"/>
    </handlers>
  </system.webServer>
</configuration>