@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Referanslar";
}

<style>
    .portfolio-block-one .image-box {
        background: #ffffff;
        transition: all 500ms ease;
    }

        .portfolio-block-one .image-box:hover {
            background: #f6f6f6;
            opacity: 0.4;
            transition: all 500ms ease;
            border-radius: 50%;
        }

        .portfolio-block-one .image-box .content-box h3 {
            position: relative;
            font-size: 34px;
            line-height: 30px;
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight:bold;
            color: #000;
        }

        .portfolio-block-one .image-box .content-box .title {
            position: relative;
            padding-top: 5px;
            font-size: 28px;
            font-weight: bold;
            color: #000;
            line-height: 28px;
            margin-bottom: 12px;
        }

    .free-estimate .inner-box h2 {
        color: #5a5a5b;
        font-size: 50px;
        font-weight: 700;
    }

    .free-estimate .inner-box .btn-box .theme-btn-two {
        font-size: 28px;
        font-weight: 700;
        width: 100%;
    }

    .theme-btn-two {
        background: #ff0000;
    }
</style>



<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/References/references-header.png); ">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-2.png" alt="Square Shape" title="Square Shape"></div>
        <div class="icon icon-2 rotate-me"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-2.png" alt="X Shape" title="X Shape"></div>
        <div class="icon icon-3 rotate-me"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-2.png" alt="Triangle Shape" title="Triangle Shape"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Referanslar</h1>
                <ul class="bread-crumb pull-right">
                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                    <li>Referanslar</li>
                </ul>
            </div>

        </div>
    </div>
</section>




<section class="portfolio-section">
    <div class="large-container">
        <div class="sortable-masonry">

            <div class="items-container row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/arena.png" alt="Arena" title="Arena"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>120</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all design">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/fenerbahce-universitesi.png" alt="Fenerbahçe Üniversitesi" title="Fenerbahçe Üniversitesi"></figure>
                            <div class="content-box">
                                <div class="inner">
                                    <h3>210</h3>
                                    <div class="title">Kullanıcı</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/ibb.png" alt="İBB" title="Fenerbahçe Üniversitesi"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>450</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/iics.png" alt="IICS" title="IICS"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>1230</h3>
                                    <div class="title">Kullanıcı</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/kirac-hts.png" alt="Kıraç HTS" title="Kıraç HTS"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>45</h3>
                                    <div class="title">Kullanıcı</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all design graphic">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/m-tod.png" alt="M-TOD" title="M-TOD"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>240</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/mahrek.png" alt="Mahrek" title="Mahrek"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>360</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/meb.png" alt="MEB" title="MEB"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>270</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/teknoser.png" alt="TEKNOSER" title="TEKNOSER"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>610</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image">
                                <img src="~/Content/Custom/Template/Images/References/veribox-technology.png" alt="Veribox Teknoloji" title="Veribox Teknoloji">
                            </figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>270</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/ahmet-erkan.png" alt="Ahmet Erkan Tarım" title="Ahmet Erkan Tarım"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>52</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/aksay.png" alt="Aksay" title="Aksay"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>35</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/akyurek.png" alt="Akyürek" title="Akyürek"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>39</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/skare.png" alt="Skare Bilişim Çözümleri" title="Skare Bilişim Çözümleri"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>33</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/arbis.png" alt="Arbis" title="Arbis"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>37</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/atlas.png" alt="Atlas" title="Atlas"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>35</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/callay.png" alt="Callay" title="Callay"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>216</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/careerhunter.png" alt="Career Hunter" title="Career Hunter"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>42</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/cevre-sehircilik-bakanligi.png" alt="Çevre, Şehircilik ve İklim Değişikliği Bakanlığı" title="Çevre, Şehircilik ve İklim Değişikliği Bakanlığı"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>487</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/foxairtech.png" alt="FoxairTech" title="FoxairTech"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>45</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/guhem.png" alt="Guhem" title="Guhem"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>47</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/kardes.png" alt="Kar-des" title="Kar-des"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>33</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/karesi-asansor.png"  alt="Karesi Asansör" title="Karesi Asansör"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>37</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/kress.png" alt="Kress" title="Kress"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>30</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/omix.png" alt="Omix" title="Omix"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>122</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/ortem.png" alt="Ortem" title="Ortem"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>32</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/ozetu.png" alt="Zetu Bilişim" title="Zetu Bilişim"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>47</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/pressh.png" alt="Vitapess" title="Vitapess"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>57</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/tarbil.png" alt="Tarbil" title="Tarbil"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>830</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/tsp.png" alt="TSP" title="TSP"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>420</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/vedas.png" alt="VEDAŞ" title="VEDAŞ"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>504</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/yildirim.png" alt="Yıldırım Soğutma" title="Yıldırım Soğutma"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>76</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/yk-flowers.png" alt="YK Çiçekçilik" title="YK Çiçekçilik"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>86</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 masonry-item small-column all graphic design branding">
                    <div class="portfolio-block-one">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/Custom/Template/Images/References/zeropest.png" alt="Zeropest" title="Zeropest"></figure>
                            <div class="content-box">
                                <div class="inner">

                                    <h3>43</h3>
                                    <div class="title">Kullanıcı</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<section class="free-estimate">
    <div class="image-layer" style="background-image: url(../../Content/Themes2/images/icons/estimate-bg.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                <div class="inner-box clearfix">
                    <div class="text pull-left">
                        <h2>
                            WorkOfTime ile <br />
                            hemen tanışın ...
                        </h2>
                    </div>
                    <div class="btn-box pull-right"><a href="/Home/Demo" class="theme-btn-two">Demo Talep Et</a></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- jequery plugins -->
<script src="/Content/Themes2/js/jquery.js"></script>
<script src="/Content/Themes2/js/owl.js"></script>
<script src="/Content/Themes2/js/wow.js"></script>
<script src="/Content/Themes2/js/validation.js"></script>
<script src="/Content/Themes2/js/jquery.fancybox.js"></script>
<script src="/Content/Themes2/js/appear.js"></script>
<script src="/Content/Themes2/js/circle-progress.js"></script>
<script src="/Content/Themes2/js/jquery.countTo.js"></script>
<script src="/Content/Themes2/js/scrollbar.js"></script>
<script src="/Content/Themes2/js/nav-tool.js"></script>
<script src="/Content/Themes2/js/jquery.paroller.min.js"></script>
<script src="/Content/Themes2/js/tilt.jquery.js"></script>
<script src="/Content/Themes2/js/isotope.js"></script>

<!-- main-js -->
<script src="/Content/Themes2/js/script.js"></script>