@using System.Globalization
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<style type="text/css" data-selector="modalContainer">
    .modal-header {
        display: none;
    }
</style>

<div class="ibox-content p-xl" data-selector="modalContainer">
    <iframe width="860" height="500" src="https://www.youtube.com/embed/erfswE0Qr-g" frameborder="0" allowfullscreen></iframe>
</div>

