<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayfa Bulunamadı</title>
    <link href="/content/themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="/content/themes/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/content/themes/css/animate.css" rel="stylesheet">
    <link href="/content/themes/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1 style="color:darkred;font-size:40px;">404</h1>
        <h3 class="font-bold" style="color:darkred">Sayfa Bulunamadı</h3>

        <div class="error-desc" style="font-size: 17px;">
            Erişmeye çalıştığınız sayfa bulunamadı.
            Bir hata olduğunu düşünüyorsanız sistem yöneticiniz ile görüşünüz.<br /><br />
            <a href="@Url.Action("Index","Pages",new {area="" })">Anasayfaya gitmek için Tıklayınız.</a>
        </div>
    </div>
    <script src="/content/themes/js/jquery-2.1.1.js"></script>
    <script src="/content/themes/js/bootstrap.min.js"></script>
</body>
</html>
