<style>
    .title-action {
        padding-right: 30px;
    }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2 class="hide">Anasayfa</h2>
        <ol class="breadcrumb" style="padding: 15px 15px;">
            <li>
                <a href="@Url.Action("Index","Home",new { area=""})">Anasayfa</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
