@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ana Sayfa";
}

<section class="page-title" style="background-image: url(../../Content/Themes2/images/background/pagetitle-bg.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="images/icons/anim-icon-17.png" alt=""></div>
        <div class="icon icon-2 rotate-me"><img src="images/icons/anim-icon-18.png" alt=""></div>
        <div class="icon icon-3 rotate-me"><img src="images/icons/anim-icon-19.png" alt=""></div>
        <div class="icon icon-4"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Uygulama Özellikleri</h1>
                <ul class="bread-crumb ">
                    <li>Ana Sayfa</li>
                    <li><a href="index.html">Bize Sorun</a></li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>

