@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ana Sayfa";
}

<style>
    .page-title .content-box .bread-crumb li {
        font-size: 25px;
    }

    .page-title .content-box .title-box h1 {
        font-weight: 700;
        font-size: 50px;
    }

    .service-block-three .inner-box h3 {
        color: #ff0000;
        font-size: 30px;
        font-weight: 600;
    }

    .service-block-three .inner-box .text {
        color: #9d9d9d;
        font-size: 20px;
    }

    .flaticon-play-button:before {
        color: #9d9d9d;
        font-size: 30px;
    }


    .service-block-three .inner-box .link-btn a {
        position: relative;
        display: inline-block;
        width: 75px;
        height: 73px;
        line-height: 51px;
        border: 3px solid #9d9d9d;
        background: transparent;
        font-size: 60px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        padding-left: 6px;
    }

        .service-block-three .inner-box .link-btn a:hover {
            background: #ff0000;
            border: none;
        }

            .service-block-three .inner-box .link-btn a:hover .flaticon-play-button:before {
                color: white;
            }
    .free-estimate .inner-box h2 {
        color: #5a5a5b;
        font-size:50px;
        font-weight:700;
    }
    .theme-btn-two {
        background: #ff0000;
        font-size:25px;
        width:250px;
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Themes2/images/background/pagetitle-bg.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="images/icons/anim-icon-17.png" alt=""></div>
        <div class="icon icon-2 rotate-me"><img src="images/icons/anim-icon-18.png" alt=""></div>
        <div class="icon icon-3 rotate-me"><img src="images/icons/anim-icon-19.png" alt=""></div>
        <div class="icon icon-4"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Uygulama Özellikleri</h1>
                <ul class="bread-crumb ">
                    <li>Özellikler</li>
                    <li><a href="index.html">Uygulama Özellikleri</a></li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>


<section class="service-style-three">
    <div class="image-layer wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(images/icons/shap-12.png);"></div>
    <div class="container">
        <div class="inner-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="sec-title">
                        <h2 style="color:red;font-weight:600">
                            WorkOfTime’ın sunduğu
                            özellikleri keşfedin ...
                        </h2>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-profit-1"></i>
                            </div>
                            <h3>IK Yönetimi</h3>
                            <div class="text">Increase web traffic with pay-per click and retargeting advertising for your web pages.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3>Ürün ve Stok</h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3>Muhasebe ve Finans</h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3>Harita Bazlı Raporlar</h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-mail"></i>
                            </div>
                            <h3>Satış & Sipariş</h3>
                            <div class="text">Use customers’ preferences to engage in strategic conversations and build brand loyalty.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3>Proje Yönetimi</h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-mail"></i>
                            </div>
                            <h3>Ofis Yönetimi</h3>
                            <div class="text">Use customers’ preferences to engage in strategic conversations and build brand loyalty.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3>Lorem Ipsum</h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-startup"></i>
                            </div>
                            <h3>SEO & Backlinks.</h3>
                            <div class="text">Grow and continually improve your website’s visibility and ranking with organic search.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-server"></i>
                            </div>
                            <h3>Hosting & Email</h3>
                            <div class="text">Reliable website hosting with professional grade email services. We can even manage your domain names for you!</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-startup"></i>
                            </div>
                            <h3>SEO & Backlinks.</h3>
                            <div class="text">Grow and continually improve your website’s visibility and ranking with organic search.</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-server"></i>
                            </div>
                            <h3>Hosting & Email</h3>
                            <div class="text">Reliable website hosting with professional grade email services. We can even manage your domain names for you!</div>
                            <div class="link-btn">
                                <a href="#">
                                    <i class="flaticon-play-button"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="free-estimate">
    <div class="image-layer" style="background-image: url(../../Content/Themes2/images/icons/estimate-bg.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                <div class="inner-box clearfix">
                    <div class="text pull-left">
                        <h2>
                            Daha detaylı bilgi

                            <br />almak için
                        </h2>
                    </div>
                    <div class="btn-box pull-right"><a href="#" class="theme-btn-two">Bize Yazın</a></div>
                </div>
            </div>
        </div>
    </div>
</section>