@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ana Sayfa";
}

<style>
    /*Section 1*/
    #play:before {
        color: #960000;
    }

    .banner-style-four .content-box .btn-box .video-btn {
        background-color: #960000;
    }

    .ff0000 {
        color: #ff0000;
        font-size: 50px;
        font-weight: 700;
    }

    .sec-title p:after {
        position: absolute;
        content: '';
        background: #777777;
        width: 45px;
        height: 4px;
        left: 0px;
        bottom: 0px;
        transition: all 500ms ease;
        -webkit-mask-image: linear-gradient(-75deg, rgba(244,55,55,0.6) 50%, #f43737 50%, rgba(0,0,0,1) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
    }

    .sec-title p:before {
        position: absolute;
        content: '';
        background: #cccccc;
        width: 130px;
        height: 2px;
        left: 0px;
        bottom: 0px;
    }

    .sec-title {
        margin-bottom: 15%;
    }

    .content-box p {
        color: #9d9d9d;
        font-size: 20px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    #content_block_34 .content-box .list-item li:before {
        font-size: 22px;
        color: #ff0000
    }

    #content_block_34 .content-box .list-item li {
        font-size: 20px;
    }


    #content_block_05 .content-box .download-btn a {
        font-size: 24px
    }

        #content_block_05 .content-box .download-btn a span {
            font-size: 17px
        }

        #content_block_05 .content-box .download-btn a:hover {
            background: #fff;
            color: #ff0000;
            box-shadow: 0 5px 25px rgb(0 0 0 / 50%);
        }

            #content_block_05 .content-box .download-btn a:hover i {
                color: #ff0000;
            }

    .fa-circle:before {
        font-size: 25px;
    }

    #content_block_05 .content-box .sec-title h2:after {
        background: #ff0000;
    }

    .designe-process-three .sec-title h2 {
        color: #ff0000;
        font-size: 50px;
        font-weight: 700;
    }

    .designe-process-three .owl-nav .owl-next:hover, .designe-process-three .owl-nav .owl-prev {
        background: #ff0000;
        color: white;
    }

    .designe-process-three .owl-nav .owl-next:hover, .designe-process-three .owl-nav .owl-next {
        background: #ff0000;
        color: white;
    }

        .designe-process-three .owl-nav .owl-next:hover, .designe-process-three .owl-nav .owl-prev:hover {
            background: white;
            color: #ff0000;
        }

        .designe-process-three .owl-nav .owl-next:hover, .designe-process-three .owl-nav .owl-next:hover {
            background: white;
            color: #ff0000;
        }

    .designe-process-three .inner-content .single-item .inner-box h3 a {
        font-weight: 600;
        font-size: 25px;
    }

    .single-item .inner-box .text {
        color: #3c8f7c;
        font-size: 16px;
    }

    .video-section .bg-column:before {
        background: rgba(255, 0, 0, 0.8);
    }

    #content_block_04 .content-box .sec-title h2 {
        color: #ff0000;
        font-weight: 700;
        font-size: 40px
    }

    .flaticon-play-button:before {
        color: #ffffff;
    }

    .theme-btn-two {
        background-color: #ff0000;
        color: white;
    }

    .subscribe-style-two {
        background-color: #f5f5f5;
    }

    .text {
        color: #9d9d9d;
        font-size: 20px;
    }

    .inner-box {
        height: 450px;
    }

    .video-section:before {
        background: #f5f5f5;
    }

    .video-section {
        background: #f5f5f5;
    }

</style>


<section class="banner-style-four" style="background-image: url(../../Content/Custom/Template/Images/Homepage/banner-bg-2.png);">
    <div class="pattern-bg" style="background-image: url(../../Content/Custom/Template/Images/Homepage/pattern-5.png);"></div>
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-3.png" alt="anim-icon-1" title="anim-icon-1"></div>
        <div class="icon icon-2 rotate-me"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-3.png" alt="anim-icon-2" title="anim-icon-2"></div>
        <div class="icon icon-3 rotate-me"><img src="~/Content/Custom/Template/Images/Homepage/anim-icon-2.png" alt="anim-icon-3" title="anim-icon-3"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <h1>
                        Operasyon Süreçlerinizi
                        Uçtan Uca
                        Kolayca Yönetin
                    </h1>
                    <div class="text" style="font-size: 20px;">
                        Saha operasyon ve iş emirlerinizi yönetimini kolaylaştırmak ve kaynaklarınızı doğru kullanmak için, iş gücü yönetimini WorkOfTime'a bırakın. Tüm süreçleriniz WorkOfTime Mobil Uygulamasında.
                    </div>
                    <div class="btn-box">
                        <a href="/Home/Demo" class="link-btn">Demo Talebi<i class="fas fa-angle-double-right"></i></a>
                        <a href="https://www.youtube.com/watch?v=erfswE0Qr-g" style="" class="lightbox-image video-btn" data-caption="">Tanıtım Video<i class="flaticon-play-button" id="play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    @*<div class="layer-bg" style="background-image: url(../../Content/Custom/Template/Images/icons/leaf-1.png);"></div>*@
                    <figure class="image clearfix float-bob-y"><img src="~/Content/Custom/Template/Images/Homepage/illustration-6.png" alt="illustration-6" title="illustration-6"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-style-11">
    <div class="container">
        <div class="inner-content">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_34">
                            <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/Homepage/pattern-15.png);"></div>
                                <figure class="image clearfix js-tilt"><img src="~/Content/Custom/Template/Images/Homepage/illustration-21.png" alt="illustration-21" title="illustration-21"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <h2 class="ff0000">
                                    Zamanımızın <br />
                                    yeni iş yapış şekli
                                </h2>
                                <div class="sec-title">
                                    <p>

                                    </p>
                                </div>
                                <p>
                                    WorkofTime ile dilediğiniz yerden, daha az kaynak ve
                                    zaman harcayarak saha operasyonlarınızı ve tüm şirket
                                    süreçlerinizi hızlı ve doğru bir şekilde kolayca yöneterek
                                    zamandan tasarruf edin.
                                </p>
                                <ul class="list-item clearfix">
                                    <li>Personel kaynak ve ik süreçleri yönetimi</li>
                                    <li>İş Emri ve Saha Operasyon Yönetim Süreçleri</li>
                                    <li>Saha Satış ekibi Yönetim Süreçleri</li>
                                    <li>Depo, Ambar ve Envanter Yönetim Süreçleri</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="download-section elements" style="background-color: #ff0000;">
    <div class="bg-layer wow slideInLeft animated" style="background-image: url(../../Content/Custom/Template/Images/Homepage/shap-3.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_05">
                    <div class="content-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="sec-title" style="margin-bottom:0px;">
                            <h2 style="margin-bottom:25px;">
                                WorkOfTime ile
                                herşey çok pratik
                            </h2>
                        </div>
                        <div class="text">
                            Şirket süreçlerinizi daha kolay işletmek, iş yükünden
                            kurtulmak ve zaman tasarrufu sağlamak için "Zamanın
                            Yeni İş Yapış Şekli" WorkOfTime'a geçin.
                        </div>
                        <div class="download-btn">
                            <a href="https://apps.apple.com/tr/app/workoftime/id1500012649?l=tr" target="_blank" class="app-store-btn">
                                <i class="fas fa-circle"></i>
                                <span>Download on the</span>
                                App Store
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.infoline.intranet" target="_blank" class="google-play-btn">
                                <i class="fas fa-circle"></i>
                                <span>Get on it</span>
                                Google Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="iamge_block_04">
                    <div class="image-box">
                        <figure class="image image-1 wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="~/Content/Custom/Template/Images/Homepage/phone-4.png" alt="Phone-4" title="Phone-4"></figure>
                        <figure class="image image-2 wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms"><img src="~/Content/Custom/Template/Images/Homepage/phone-5.png" alt="Phone-5" title="Phone-5"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
<section class="designe-process-three">
    <div class="container">
        <div class="sec-title" style="margin-bottom: 0px;">
            <h2>
                Zamanımızın <br /> Yeni iş yapış şekli
            </h2>
        </div>
        <div class="inner-content">
            <div class="four-item-carousel owl-carousel owl-theme owl-dots-none">
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color: #fcc101">Personel Kaynağı</a></h3>
                        <div class="text">
                            Özlük, izin, masraf, avans, maaş,
                            performans, isg ve tüm IK süreçlerini
                            <strong>yönet ve takip et</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-1.png" alt="Vactor-Image-1" title="Vactor-Image-1"></figure>
                    </div>
                </div>
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color: #4d87db ">Saha İş Emri Yönetimi</a></h3>
                        <div class="text">
                            Saha personellerini ve tüm
                            saha operasyonlarını
                            <strong>planla, anlık izle ve raporla</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-2.png" alt="Vactor-Image-2" title="Vactor-Image-2"></figure>
                    </div>
                </div>
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color: #3c8f7c ">CRM Yönetimi</a></h3>
                        <div class="text">
                            Satışlar, potansiyeller ve siparişler, müşteri yönetimini
                            kontrol altına alarak
                            <strong>hedeflerini takip et</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-3.png" alt="Vactor-Image-3" title="Vactor-Image-3"></figure>
                    </div>
                </div>
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color:#be9157"> Depo ve Stok Yönetimi </a></h3>
                        <div class="text">
                            Depolarınızı ve stoklarınızı kontrol
                            altına alıp, tüm stok işlemlerinizi
                            <strong>mobilden yönetin</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-4.png" alt="Vactor-Image-4" title="Vactor-Image-4"></figure>
                    </div>
                </div>
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color: #f18ba0 ">Yardım Masası</a></h3>
                        <div class="text">
                            Müşteri memnuniyetini arttırmak, müşterilerin yardım, destek ve
                            şikayet taleplerini
                            <strong>hızlıca çözüme ulaştır</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-5.png" alt="Vactor-Image-5" title="Vactor-Image-5"></figure>
                    </div>
                </div>
                <div class="single-item">
                    <div class="inner-box">
                        <h3><a href="#" style="color: #505aba ">Projeler ve Sözleşmeler</a></h3>
                        <div class="text">
                            Projelerindeki görevleri, satın
                            almaları, masrafları, proje dosyalarını, iş emirlerini, SLA ve
                            <strong>hakedişlerini yönet</strong>
                        </div>
                        <figure class="image-box"><img src="~/Content/Custom/Template/Images/Homepage/vactor-image-6.png" alt="Vactor-Image-6" title="Vactor-Image-6"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-section elements"     >
    <div class="bg-column" style="background-image:url('../../Content/Custom/Template/Images/Homepage/video-bg.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                <div class="video-inner">
                    <a href="https://www.youtube.com/watch?v=erfswE0Qr-g" class="lightbox-image" data-caption="">
                        <i class="flaticon-play-button"></i>
                        <span class="ripple"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_04">
                    <div class="content-box">
                        <div class="sec-title">
                            <h2>
                                Verimlilik ve
                                performansınızı arttırın
                            </h2>
                        </div>
                        <div class="text">
                            İşletmenizde maliyetleriniz mi arttı, şirket içi süreçleri
                            yönetirken zorlanıyor musunuz, karmaşık yazılımlardan
                            sonuç alamıyor musunuz?
                            <strong>
                                Sorularınızın cevaplarını WorkOfTime
                                ürünümüzde topladık.
                            </strong>
                        </div>
                        <div class="btn-box"><a href="https://www.youtube.com/watch?v=erfswE0Qr-g" class="theme-btn-two" style="background-color: #ff0000;">Videoyu İzle</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe-style-two elements" style="background-color:white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div id="content_block_18">
                    <div class="content-box">
                        <div class="sec-title" style="margin-bottom:20px;">
                            <h2 style="color: #ff0000;font-size:40px;font-weight:700;margin-bottom:20px">
                                WorkOfTime ile <br />
                                hemen tanışın ...
                            </h2>
                        </div>
                        <div class="text" style=" color: #9d9d9d; font-size: 20px;">
                            WorkofTime'a geçiş yapmak çok kolay. Hızlı kurulum ve kolay kullanım ile ekiplerinizi hızlı bir şekilde 
                            WorkOfTime'a taşıyın. 7/24 destek ekibi, güvenilir, konusunda uzman kadromuz ile yanınızdayız. 
                        </div>
                        <a href="/Home/Demo" class="theme-btn-two">Demo Talep Edin</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div id="image_block_18">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image float-bob-y"><img src="~/Content/Custom/Template/Images/Homepage/subscribe-2.png" alt="Subscribe" title="Subscribe"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clients-style-four style-five" style="z-index:998">
    <div class="image-layer" style="background-image: url(../../Content/Custom/Template/Images/Homepage/layer-image-7.png)"></div>
    <div class="container">
        <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/arena.png" alt="Arena" title="Arena"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/enerjiSa.png" alt="Enerji Sa" title="Enerji Sa"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/fenerbahce-universitesi.png" alt="Fenerbahçe Üniversitesi" title="Fenerbahçe Üniversitesi"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/ibb.png" alt="İstanbul Büyükşehir Bld" title="İstanbul Büyükşehir Bld"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/IICS.png" alt="IICS" title="IICS"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/kirac-hts.png" alt="Kıraç HTS" title="Kıraç HTS"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/mahrek.png" alt="Mahrek" title="Mahrek"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/m-tod.png" alt="M-Tod" title="M-Tod"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/milli-egitim-bakanligi.png" alt="Milli Eğitim Bakanlığı" title="Milli Eğitim Bakanlığı"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/paynet.png" alt="Paynet" title="Paynet"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/teb.png" alt="TEB" title="TEB"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/teknoser.png" alt="Teknoser" title="Teknoser"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/turkcell.png" alt="Türkcell" title="Türkcell"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/türktelekom.png" alt="Türk Telekom" title="Türk Telekom"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/veribox-technology.png" alt="Veribox" title="Veribox"></a></figure>
            <figure class="image-box"><a><img src="~/Content/Custom/Template/Images/Homepage/vodafone.png" alt="Vodafone" title="Vodafone"></a></figure>
        </div>
    </div>
</section>
<!-- main-js -->
<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
@*<script src="~/Content/Themes2/js/popper.min.js"></script>*@
@*<script src="~/Content/Themes2/js/bootstrap.min.js"></script>*@
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>


