@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Fiyatlar";
}
<style type="text/css">
    .free-estimate .inner-box h2 {
        color: #5a5a5b;
        font-size: 50px;
        font-weight: 700;
    }

    .theme-btn-two {
        background: #ff0000;
        font-size: 25px;
        width: 250px;
    }

    .free-estimate .inner-box .btn-box .theme-btn-two {
        font-size: 28px;
        font-weight: 700;
        width: 100%;
    }

    .sec-title h2 {
        color: #222222 !important;
    }

    .content-box p {
        color: #9d9d9d;
        font-size: 20px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    #content_block_34 .content-box .list-item li:before {
        font-size: 22px;
        color: #ff0000
    }

    #content_block_34 .content-box .list-item li {
        font-size: 20px;
    }


    #content_block_05 .content-box .download-btn a {
        font-size: 22px
    }

        #content_block_05 .content-box .download-btn a:hover {
            background: #fff;
            color: #ff0000;
            box-shadow: 0 5px 25px rgb(0 0 0 / 50%);
        }

            #content_block_05 .content-box .download-btn a:hover i {
                color: #ff0000;
            }

    .fa-circle:before {
        font-size: 17px;
    }

    #content_block_05 .content-box .sec-title h2:after {
        background: #ff0000;
    }
    ul, li {
        line-height: 21px;
    }
    .feature-style-11 {
        position: relative;
        padding: 25px 0px 180px 0px;
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/Features/features-header.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/Content/Themes2/images/icons/anim-icon-17.png" alt="anim-icon-17" title="anim-icon-17"></div>
        <div class="icon icon-2 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-18.png" alt="anim-icon-18" title="anim-icon-18"></div>
        <div class="icon icon-3 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-19.png" alt="anim-icon-19" title="anim-icon-19"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Satış Modeli</h1>
                <ul class="bread-crumb ">
                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                    <li>Satış Modeli</li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>


<!-- pricing-section -->
<section class="feature-style-11">
    <div class="container">
        <div class="inner-content">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_34">
                            <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/Homepage/pattern-15.png);"></div>
                                <figure class="image clearfix js-tilt"><img src="~/Content/Custom/Template/Images/Homepage/subscribe-2.png" alt="Saha-Görev Yönetimi" title="Saha-Görev Yönetimi"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <h2 class="ff0000">
                                    WorkOfTime’ı nasıl <br />
                                    satın alabilirsiniz;
                                </h2>
                                <div class="sec-title">
                                    <p>

                                    </p>
                                </div>
                                <p>
                                    Arayın +90 (212) 212 19 23 telefon numarasından<br />
                                    info@workoftime.com mail adresi üzerinden<br />
                                    ya da bize yazın biz hemen size ulaşalım.<br />
                                </p>
                                <p style="text-decoration:underline">WorkOfTime Ücretlendirmesi Nasıl ?</p>
                                <ul class="list-item clearfix">
                                    <li>Kullanıcı bazlı lisanslama</li>
                                    <li>12 ay veya 24 ay taahhüt sabit fiyat veya yazılım satın alma bedeli ile</li>
                                    <li>Cloud Hizmeti, Yedeklilik, Güvenlik hepsi fiyat içerisinde</li>
                                    <li>7/24 Destek (Ticket, Telefon, WhatsApp)</li>
                                    <li>Kullanıcı Eğimi, Yönetici Eğitimi</li>
                                    <li>Başka Ek Ücret yok</li>
                                    <li>Kurulum gerektirmez</li>
                                    <li>Çalışan sayısı kadar ödeme</li>
                                    <li>Ücretsiz eğitim & destek</li>
                                    <li>Ücretsiz güncelleme</li>
                                </ul>
                                <p style="text-decoration:underline">WorkOfTime Tüm Modülleri İle Tek Fiyat – Daha Sonradan Sürpriz Fiyat Yok…</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing-section -->



<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>
