@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Fiyatlar";
}
<style type="text/css">
    .free-estimate .inner-box h2 {
        color: #5a5a5b;
        font-size: 50px;
        font-weight: 700;
    }

    .theme-btn-two {
        background: #ff0000;
        font-size: 25px;
        width: 250px;
    }

    .free-estimate .inner-box .btn-box .theme-btn-two {
        font-size: 28px;
        font-weight: 700;
        width: 100%;
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/Features/features-header.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/Content/Themes2/images/icons/anim-icon-17.png" alt="anim-icon-17" title="anim-icon-17"></div>
        <div class="icon icon-2 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-18.png" alt="anim-icon-18" title="anim-icon-18"></div>
        <div class="icon icon-3 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-19.png" alt="anim-icon-19" title="anim-icon-19"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Fiyatlar</h1>
                <ul class="bread-crumb ">
                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                    <li>Fiyatlar</li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>


<!-- pricing-section -->
<section class="pricing-section pricing-page centred">
    <div class="container">
        <div class="sec-title center">
            <h2 style="color:black !important">En İyi Fiyat Planımız</h2>
            <p>
                Müşterilerimiz için en iyi fiyat tercihlerini sunuyoruz, <br /> şimdi listeyi kontrol edin ve size en uygun ödeme planını seçin
            </p>
        </div>
        <div class="tabs-box">
            <div class="tabs-content">
                <div class="tab active-tab" id="tab-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-1.png" alt="Price Basic" title="Price Basic"></figure>
                                    <div class="table-header">
                                        <h3 class="title">Basic</h3>
                                        <h2 class="price">15.00<span>/Aylık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-2.png" alt="Price Premium" title="Price Premium"></figure>
                                    <div class="table-header">
                                        <h3 class="title">Premium</h3>
                                        <h2 class="price">25.00<span>/Aylık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                            <li>Phone Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-3.png" alt="Price Professional" title="Price Professional"></figure>
                                    <div class="table-header">
                                        <h3 class="title">PROFESSIONAL</h3>
                                        <h2 class="price">50.00<span>/Aylık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                            <li>Phone Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="tab-2">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-1.png" alt="Price Basic" title="Price Basic"></figure>
                                    <div class="table-header">
                                        <h3 class="title">Basic</h3>
                                        <h2 class="price">30.00<span>/Yıllık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-2.png" alt="Price Premium" title="Price Premium"></figure>
                                    <div class="table-header">
                                        <h3 class="title">Premium</h3>
                                        <h2 class="price">60.00<span>/Yıllık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                            <li>Phone Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-column">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <figure class="image"><img src="~/Content/Themes2/images/icons/price-icon-3.png" alt="Price Professional" title="Price Professional"></figure>
                                    <div class="table-header">
                                        <h3 class="title">PROFESSIONAL</h3>
                                        <h2 class="price">99.00<span>/Yıllık</span></h2>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>One User</li>
                                            <li>Ui elements 1000</li>
                                            <li>E-mail support</li>
                                            <li>Phone Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="#" class="theme-btn-two">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-btn-box">
                <ul class="tab-btns tab-buttons clearfix">
                    <li class="tab-btn active-btn" data-tab="#tab-1">Aylık</li>
                    <li class="tab-btn" data-tab="#tab-2">Yıllık</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- pricing-section end -->


<section class="free-estimate">
    <div class="image-layer" style="background-image: url(../../Content/Themes2/images/icons/estimate-bg.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                <div class="inner-box clearfix">
                    <div class="text pull-left">
                        <h2>
                            Daha detaylı bilgi

                            <br />almak için
                        </h2>
                    </div>
                    <div class="btn-box pull-right"><a href="/Home/AskToUs" class="theme-btn-two">Bize Yazın</a></div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
@*<script src="~/Content/Themes2/js/popper.min.js"></script>*@
@*<script src="~/Content/Themes2/js/bootstrap.min.js"></script>*@
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>
