@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Gizlilik Politikası";
}

<style>
    .service-details .service-details-content .inner-box h3 {
        color:red;
    }
</style>


<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/screenshots-header.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="/Content/Themes2/images/icons/anim-icon-17.png" alt="Square Shape" title="Square Shape"></div>
        <div class="icon icon-2 rotate-me"><img src="/Content/Themes2/images/icons/anim-icon-18.png" alt="X Shape" title="X Shape"></div>
        <div class="icon icon-3 rotate-me"><img src="/Content/Themes2/images/icons/anim-icon-19.png" alt="Triangle Shape" title="Triangle Shape"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Gizlilik Politikası</h1>
                <ul class="bread-crumb pull-right">
                    <li><a href="Index/Home">Ana Sayfa</a></li>
                    <li>Gizlilik Politikası</li>

                </ul>
            </div>

        </div>
    </div>
</section>


<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content-side">

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni’nin Amacı</h3>
                            <div class="text">
                                <p>İşbu Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni;</p>
                            </div>
                            <ul class="list-item">
                                <li>INFOLINE Bilgi Teknolojileri Ticaret A.Ş. (“INFOLINE”)’nin ne tür kişisel veriler topladığını,</li>
                                <li>Bu kişisel verilerin nasıl kullanıldığını,</li>
                                <li>INFOLINE’ın kişisel verilerinizi kimlerle paylaşabileceğini,</li>
                                <li>INFOLINE’ın işlediği kişisel verileriniz üzerindeki haklarınızın neler olduğunu ve bu hakları nasıl kullanabileceğinizi,</li>
                                <li>Elektronik ticari ileti alma konusundaki olumlu veya olumsuz tercihlerinizi nasıl değiştirebileceğinizi açıklamaktadır.</li>
                            </ul><br />
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>İşlenen Kişisel Verileriniz ve Kişisel Veri İşleme Amacı ve Dayanağı</h3>
                            <div class="text">
                                <p>INFOLINE, kişisel verilerin korunması amacıyla ve 5651 Sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ilgili ikincil mevzuat, 5237 Sayılı Türk Ceza Kanunu ve 6698 Sayılı Kişisel Verilerin Korunması Kanunu başta olmak üzere, ilgili mevzuattan kaynaklanan yasal yükümlülüğü ve hizmet standartları çerçevesinde; söz konusu amaç ve yasal yükümlülüklerin yerine getirilebilmesini, daha iyi hizmet verilebilmesini ,insan kaynakları ve istihdam politikalarının yönetimi ve istatistiki çalışmalar yapılabilmesini sağlayacak kişisel verilerinizi( ad, soyad, doğum tarihi, cep telefonu numarası, sabit telefon numarası, e-posta, cinsiyet, adres vb.. bilgiler de dahil ve fakat bunlarla sınırlı olmamak kaydıyla kişiyi doğrudan veya dolaylı olarak tanımlamaya yönelik her türlü kişisel bilgi) sizlerden talep etmektedir. INFOLINE’a verdiğiniz bu kişisel veriler, açık rızanıza istinaden, işbu Gizlilik,Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile bilgi güvenliği tedbirleri de alınarak işlenecek ve saklanacaktır.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Kişisel Verileriniz İle İlgili Haklarınız</h3>
                            <div class="text">
                                <p>
                                    İşlenen kişisel verilerinizin neler olduğunu, işleme amacı doğrultusunda kullanılıp kullanılmadığını, yurt içi veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri öğrenmek, eksik veya yanlış işlenen kişisel verileriniz söz konusu ise veya işlenen kişisel verilerinizde herhangi bir değişiklik olması durumunda bu verilerinizi değiştirmek, güncellemek ve/veya silmek, bu durumun kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini talep etmek amacıyla, INFOLINE internet sitesinde bulunan başvuru formunu doldurarak, iadeli taahhütlü mektup ile Üniversiteler Mahallesi 1596.Cadde Teknokent Sitesi 6.ARGE C Blok Apartman No:6 C/68 Çankaya/ANKARA adresine veya kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da bize daha önce bildirdiğiniz ve kayıtlarımızda yer alan elektronik posta adresinizi kullanmak suretiyle Şirketimize teslim etmeniz gerekmektedir. Talebinizin mahiyetine ve başvuru yönteminize göre başvurunun size ait olup olmadığının belirlenmesi ve böylece haklarınızı koruyabilmek amacıyla INFOLINE tarafından ek doğrulamalar (kayıtlı telefonunuza mesaj gönderilmesi, aranmanız gibi) istenebilir. 6698 Sayılı Kişisel Verilerin Korunması Kanunu madde 11 uyarınca sahip olduğunuz diğer haklar saklıdır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Kişisel Veri Saklama Süresi</h3>
                            <div class="text">
                                <p>
                                    Kuruluşumuz sistemlerini (bilgisayar, aktif ağ cihazları, yazılım, sunucu vb.) kullanmanız durumunda 5651 Internet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun uyarınca; kullanılan tarihten itibaren 2 yıl log kaydı tutmaktadır. Kağıt ortamındaki bilgiler ise Dokümante Edilmiş Bilgi Süreci kapsamında kuruluşumuza ait kayıt saklama süreleri içerisinde güvenliği sağlanarak arşivde saklanmaktadır. Süre bitiminden sonra kişisel verileriniz şirketimiz tarafından veya talebiniz üzerine silinir, kontrollü şekilde imha edilir veya anonim hale getirilir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Çerez (Cookie) Kullanımı</h3>
                            <div class="text">
                                <p>
                                    “INFOLINE”, ziyaretçilerine daha iyi hizmet verebilmek amacıyla ve yasal yükümlülüğü çerçevesinde, işbu Gizlilik,Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile gezinme bilgilerinizi toplayacak, işleyecek, üçüncü kişilerle paylaşacak ve güvenli olarak saklayacaktır. Gezinme bilgilerinizi toplama amacıyla kullandığımız çerezler (cookie) hakkında bilgi, INFOLINE web sitesine/mobil sitesine ilk defa giriş yaptığınızda “açılır pencere (pop-up ekran)” ile verilecektir.
                                </p>
                                <p>
                                    Çerezler, “INFOLINE” web sitesini ziyaret ettiğinizde veya mobil uygulamayı cep telefonunuza yüklediğinizde veya mobil sitesinden bağlandığınızda, internet tarayıcınız tarafından yüklenen ve bilgisayarınız, cep telefonunuz veya tabletinizde saklanan küçük bilgi parçacıklarını içeren metin dosyalarıdır.
                                </p>
                                <p>
                                    “INFOLINE”, web sitesinin veya mobil uygulamanın içeriğini size göre iyileştirmek ve/veya tercihlerinizi belirlemek amacıyla; site üzerinde gezinme bilgilerinizi ve/veya site üzerindeki kullanım geçmişinizi izlemektedir. “INFOLINE”, çevrimiçi ve çevrimdışı olarak toplanan bilgiler gibi farklı yöntemlerle veya farklı zamanlarda site üzerinde sizden toplanan bilgileri eşleştirebilir ve bu bilgileri üçüncü taraflar gibi başka kaynaklardan alınan bilgilerle birlikte kullanabilir. Söz konusu eşleştirme ve kullanma yalnızca işbu Gizlilik,Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dahilinde kalacaktır.
                                </p>
                                <p>
                                    “INFOLINE”, web sitesinde, mobil uygulamasında ve mobil sitesinde oturum çerezleri ve kalıcı çerezler kullanmaktadır. Oturum kimliği çerezi, tarayıcınızı kapattığınızda sona erer. Kalıcı çerez ise sabit diskinizde uzun bir süre kalır. İnternet tarayıcınızın “yardım” dosyasında verilen talimatları izleyerek veya www.allaboutcookies.org veya www.youronlinechoices.eu adresini ziyaret ederek kalıcı çerezleri kaldırabilir ve hem oturum çerezlerini hem de kalıcı çerezleri reddedebilirsiniz. Kalıcı çerezleri veya oturum çerezlerini reddederseniz, web sitesini, mobil uygulamayı ve mobil sitesini kullanmaya devam edebilirsiniz, fakat web sitesinin, mobil uygulamanın ve mobil sitesinin tüm işlevlerine erişemeyebilirsiniz veya erişiminiz sınırlı olabilir. Mobil uygulamada söz konusu durum değişkenlik gösterebilmektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>INFOLINE Çerezleri Nasıl Kullanılmaktadır ?</h3>
                            <div class="text">
                                <p>
                                    “INFOLINE” çerezleri;
                                </p>
                                <p>
                                    Yaptığınız tercihleri hatırlamak ve web sitesi/mobil uygulama/mobil sitesi kullanımınızı kişiselleştirmek için kullanır. Bu kullanım: parolanızı onayınız dahilinde kaydeden ve web sitesi/mobil uygulama/mobil sitesi oturumunuzun sürekli açık kalmasını sağlayan, böylece her ziyaretinizde birden fazla kez parola girme zahmetinden kurtaran çerezleri ve web sitesine/mobil uygulamaya/mobil sitesine daha sonraki ziyaretlerinizde sizi hatırlayan ve tanıyan çerezleri içerir,
                                    “INFOLINE”’a nereden bağlandığınız, web sitesi/mobil uygulama/mobil sitesi üzerinde hangi içeriği görüntülediğiniz ve ziyaretinizin süresi gibi web sitesini/mobil uygulamayı/mobil sitesini nasıl kullandığınızın izlenmesi dahil olmak üzere; web sitesini/mobil uygulamayı/mobil siteyi nasıl kullandığınızı belirlemek için kullanır,
                                    İlgi alanlarınıza ve size daha uygun içerik ve reklamları sunmak için, diğer bir ifade ile hedeflenmiş reklam/tanıtım amacıyla kullanır. Bu şekilde, “INFOLINE” web sitesini, mobil uygulamasını veya mobil sitesini kullandığınızda size daha uygun içerikleri, kişiye özel kampanya ve ürünleri sunar ve daha önceden istemediğinizi belirttiğiniz içerik veya fırsatları bir daha sunmaz. “INFOLINE”, çerezler yoluyla elde edilen bilgileri üyelerimizden topladığımız kişisel verilerle eşleştirir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>“INFOLINE” Üçüncü Taraf Çerezlerini Reklam ve Yeniden <br /> Hedefleme İçin Nasıl Kullanmaktadır?</h3>
                            <div class="text">
                                <p>
                                    "INFOLINE” çerezleri ayrıca; arama motorlarını, “INFOLINE” web sitesini, mobil uygulamasını veya mobil sitesi ve/veya “INFOLINE”ın reklam verdiği web sitelerini ziyaret ettiğinizde ilginizi çekebileceğini düşündüğü reklamları size sunabilmek için “reklam teknolojisini” devreye sokmak amacıyla kullanabilir. Reklam teknolojisi, size özel reklamlar sunabilmek için web sitesine/mobil uygulamaya/mobil sitesine ve “INFOLINE”ın reklam verdiği web sitelerine/mobil/mobil sitesi uygulamalarına yaptığınız önceki ziyaretlerle ilgili bilgileri kullanır. Bu reklamları sunarken, “INFOLINE”ın sizi tanıyabilmesi amacıyla tarayıcınıza benzersiz bir üçüncü taraf çerezi yerleştirilebilir. “INFOLINE”ın web sitesi/mobil uygulaması/mobil sitesi ayrıca; Google, Inc. (“Google”) tarafından sağlanan bir web analizi hizmeti olan Google Analytics kullanmaktadır. Google Analytics, çerezleri ziyaretçilerin web sitesini/mobil uygulamayı/mobi sitesini nasıl kullandıklarını analiz etmek amacıyla kullanır. Bu web sitesini/mobil uygulamayı/mobil sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google’a aktarılarak Google tarafından ABD’deki sunucularda saklanmaktadır. Google bu bilgileri web sitesini/mobil uygulamayı/mobil sitesini kullanımınızı değerlendirmek, “INFOLINE” web sitesi/mobil uygulama/mobil site faaliyetini derlemek ve web sitesi/mobil uygulama/mobil sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır. Fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Analytics kullanımı hakkında daha fazla bilgi için (reddetme seçenekleri dahil), şu adresi ziyaret edebilirsiniz:
                                    <a href="http://www.google.com/intl/tr/policies/privacy/#infocollect" target="_blank">http://www.google.com/intl/tr/policies/privacy/#infocollect</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Resmi Makamlarla Kişisel Veri Paylaşımı</h3>
                            <div class="text">
                                <p>
                                    INFOLINE, INFOLINE web sitesi ziyaretinize ilişkin kişisel verilerinizi ve gezinme bilgileriniz gibi trafik bilgilerinizi, güvenliğiniz ve INFOLINE’ın yasalar karşısındaki yükümlülüğünü ifa etmesi amacıyla (suçla mücadele ve devlet ve kamu güvenliğinin tehdidi benzeri ve fakat bununla sınırlı olmamak üzere INFOLINE’ın yasal veya idari olarak bildirim veya bilgi verme yükümlülüğünün mevcut olduğu durumlarda) yasal olarak bu bilgileri talep etmeye yetkili olan kamu kurum ve kuruluşları ile paylaşabilecektir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Kişisel Verilerin Korunmasına İlişkin Önlemler</h3>
                            <div class="text">
                                <p>
                                    Kişisel verilerin korunması INFOLINE için önemli bir konudur. INFOLINE, kişisel verilere yetkisiz erişim veya bu bilgilerin kaybı, hatalı kullanımı, ifşa edilmesi, değiştirilmesi veya imha edilmesine karşı korumak için gerekli önlemleri almaktadır. INFOLINE, kişisel verileri depolarken güvenlik duvarları ve Güvenli Soket Katmanı (SSL) şifrelemesi gibi genel kabul görmüş güvenlik teknolojisi standartlarını kullanmaktadır.
                                    INFOLINE, kişisel verilerinizi gizli tutmayı, gizliliğin sağlanması ve güvenliği için gerekli teknik ve idari her türlü tedbiri almayı ve gerekli özeni göstermeyi taahhüt etmektedir. INFOLINE’ın gerekli bilgi güvenliği önlemlerini almasına karşın, sisteme yapılan saldırılar sonucunda kişisel verilerin zarar görmesi veya üçüncü kişilerin eline geçmesi durumunda, INFOLINE bu durumu derhal sizlere ve Kişisel Verileri Koruma Kurulu’na bildirir ve gerekli önlemleri alır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Gizlilik, Kişisel Verilerin Korunması Politikası ve Yapılacak Değişiklikler</h3>
                            <div class="text">
                                <p>
                                    INFOLINE, işbu Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni’nde her zaman değişiklik yapabilir. Bu değişiklikler, değiştirilmiş yeni Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni’nin ilgililere yazılı olarak iletilmesi ile birlikte derhal geçerlilik kazanır. Kişisel bilgilerinizi ve iletişim tercihlerinizi Şirketin internet sitesinde bulunan başvuru formunu doldurarak, iadeli taahhütlü mektup ile Üniversiteler Mahallesi 1596.Cadde Teknokent Sitesi 6.ARGE C Blok Apartman No:6 C/68 Çankaya/ANKARA adresine veya kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da bize daha önce bildirdiğiniz ve kayıtlarımızda yer alan elektronik posta adresinizi kullanmak suretiyle Şirketimize teslim etmeniz gerekmektedir. Başvurunuzda yer alan talepleriniz, talebin niteliğine göre en geç otuz gün içinde ücretsiz olarak sonuçlandırılacaktır. Ancak, işlemin Şirket için ayrıca bir maliyeti gerektirmesi hâlinde, Kişisel Verileri Koruma Kurulu tarafından Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ’de belirlenen tarifedeki ücret alınabilir. Talebiniz belirtilen süre içerisinde değerlendirilecek olup, talebinizin sonucu ile ilgili olarak size yazılı şekilde bilgi verilecektir. Bunun yanı sıra, kullanıcılar, “Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni” ile ilgili diğer taleplerini de infolineas@hs01.kep.tr e-posta adresine e-posta göndererek iletebilirler.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>Uygulanacak Hukuk, Yetkili Mahkeme ve İcra Daireleri</h3>
                            <div class="text">
                                <p>
                                    İşbu Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni, Türkiye Cumhuriyeti kanunlarına tabidir. Gizlilik ,Kişisel Verilerin Korunması Politikası ve İletişim İzni’nin uygulanmasından doğabilecek her türlü uyuşmazlığın çözümünde Ankara Mahkeme ve İcra Daireleri yetkilidir.
                                </p><br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="bottom-content">
                            <h3>K.V.K.K BAŞVURU FORMU</h3>
                        </div>
                    </div>
                </div>
                <div class="mail-box">
                    <div class="btn-box">
                        <a class="theme-btn" href="~/Content/Custom/data/KVKK-BasvuruFormu.pdf" download>İNDİR<i class="fas fa-angle-right" style="background-color: red"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- jequery plugins -->
<script src="~/Content/Themes2/js/jquery.js"></script>
<script src="~/Content/Themes2/js/popper.min.js"></script>
<script src="~/Content/Themes2/js/bootstrap.min.js"></script>
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/jquery.fancybox.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/nav-tool.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>

<!-- main-js -->
<script src="~/Content/Themes2/js/script.js"></script>

