@using Infoline.WorkOfTimeManagement.WebProject
@{

    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

<style type="text/css" data-selector="modalContainer">
    #protect h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        font-family: "Open Sans",sans-serif;
        font-weight: 700;
        color: #343838;
    }

    #protect .h4, h4 {
        font-size: 18px;
    }

    #protect .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #protect p {
        font-size: 15px;
    }



    .bootstrap-dialog-title {
        font-size: 15px;
        font-weight: bold;
    }

    ol, ul {
        padding: 0px !important;
    }
</style>

<div id="protect" data-selector="modalContainer">
    <div class="container ">
        <h4 style="text-align:center;margin:20px">Şirket Yetkilisi için Kişisel Verilerin Korunması ve İşlenmesi Politikası</h4>
        <div class="space-50"></div>
        <p>İşbu Kişisel Verilerin Korunması ve İşlenmesi Politikası’nın (“Politika”) amacı, Infoline Bilgi Teknolojileri Ticaret A.Ş.’ye (“WorkOfTime”) ait www.WorkOfTime.infoline-tr.com internet sitesi (“Site”) üzerinden sağlanan İnsan Kaynakları ve Personel Yönetim Sistemi’nden (“Platform”) Şirket tarafından faydalanılması için Şirket yetkilisi veya çalışanlardan (“Kullanıcı”) elde edilen kişisel verilerin kullanımına ilişkin koşul ve şartları tespit etmektir. Kullanıcılar, Şirket adına İnsan Kaynakları ve Personel Yönetim Sistemi Kullanıcı Sözleşmesi’nin kabul edilmesiyle birlikte işbu Politika ile bağlı hale gelecektir.</p>
        <p>İşbu Politika’da tanımlanmayan ifadelerin yorumlanmasında İnsan Kaynakları ve Personel Yönetim Sistemi Kullanıcı Sözleşmesi’nde belirtilen tanımlar dikkate alınacaktır.</p>
        <h4>Hangi Veriler İşlenmektedir?</h4>
        <p>Bu başlık altında, Kullanıcı tarafından WorkOfTime’ya sağlanan ve/veya Platform’un kullanımı aşamasında Kullanıcılar’dan elde edilen ve 6698 sayılı Kişisel Verilerin Korunması Kanunu (6698 sayılı Kanun) uyarınca kişisel veri sayılan verilerin hangileri olduğu sıralanmıştır. Aksi açıkça belirtilmedikçe, Politika kapsamında arz edilen hüküm ve koşullar kapsamında “kişisel veri” ifadesi aşağıda yer alan bilgileri ifade edecektir.</p>
        <p>WorkOfTime, Kullanıcı tarafından üyelik girişi ve ilgili pakete ilişkin ödeme yapılması esnasında dijital ortamda sağlanan aşağıdaki verileri toplamaktadır.</p>
        <ul>
            <li>Ad, soyad vb. kimlik bilgileri</li>
            <li>Adres, iş veya özel e-posta adresi, telefon numarası vb. iletişim bilgileri</li>
            <li>Kimlik doğrulama ve hesap erişimi için kullanılan parola ve benzer güvenlik ve işlem bilgileri</li>
            <li>Ödeme Bilgisi</li>
            <li>Ürün/Hizmet Kullanım Bilgisi</li>
            <li>İşlem Güvenliği Bilgisi</li>
            <li>Finansal Bilgi</li>
            <li>WorkOfTime, Kullanıcılar’ın Site ve Platform’u kullanımı hakkındaki bilgileri teknik bir iletişim dosyası olan çerezleri (Cookie) kullanarak elde edebilmekte olup Platform üzerinde sunulmakta olan hizmetlere erişim ve kullanım alışkanlıklarının tespit edilmesi için çerez yoluyla IP bilgileri toplanmaktadır.</li>
            <li>Kanun’un 3 ve 7. maddesi doğrultusunda, geri döndürülemeyecek şekilde anonim hale getirilen veriler, anılan kanun hükümleri uyarınca kişisel veri olarak kabul edilmeyecek olup bu verilere ilişkin işleme faaliyetleri işbu Politika’nın hükümleri ile bağlı olmaksızın gerçekleştirecektir.</li>
        </ul>
        <h4>Veriler Hangi Amaçlarla Kullanılmaktadır?</h4>
        <p>WorkOfTime, Kullanıcılar tarafından sağlanan kişisel verileri, üyelik kaydının gerçekleştirilmesi ve Platform’a konu ve hizmetlerin sağlanması amacı ile kullanacaktır. WorkOfTime ayrıca, bahsi geçen kişisel verileri sunduğu hizmetlerin iyileştirilmesi, hizmetin geliştirilmesi ve bu kapsamda Şirket’e veya Kullanıcılar’a gerekli bilgilendirilmelerin yapılması ve sunduğu hizmetlerin doğasından kaynaklanan yükümlülüklerin yerine getirilmesi için işleyebilir. Söz konusu kişisel bilgiler Şirket veya Kullanıcı ile temas kurmak veya Şirket’in ve Kullanıcılar’ın Platform’daki tecrübesini iyileştirmek (mevcut hizmetlerin geliştirilmesi, yeni hizmetler oluşturulması ve kişiye özel hizmetler sunulması gibi) amacıyla kullanılabileceği gibi, WorkOfTime raporlama ve iş geliştirme faaliyetleri kapsamında kullanılabilecek, Kullanıcı’nın kimliği ifşa edilmeden çeşitli istatistiksel değerlendirmeler yapma, veri tabanı oluşturma ve pazar araştırmalarında bulunma amacıyla da kullanılabilecektir. Kullanıcı’nın ayrıca onay vermesi halinde onay kapsamında söz konusu bilgiler WorkOfTime ve işbirliğinde olduğu kişiler tarafından doğrudan pazarlama yapmak amacıyla işlenebilecek, saklanabilecek, üçüncü kişilere iletilebilecek ve söz konusu bilgiler üzerinden çeşitli uygulama, ürün ve hizmetlerin tanıtımı, bakım ve destek faaliyetlerine ilişkin bildirimlerde bulunma amacıyla Kullanıcı ile iletişime geçilebilecektir.</p>
        <ul>
            <li>WorkOfTime ayrıca, Kanun’un 5 ve 8. maddeleri uyarınca ve/veya ilgili mevzuattaki şartların varlığı halinde verileri Kullanıcılar’ın ayrıca rızasını almaksızın işleyebilecek ve üçüncü kişilerle paylaşabilecektir. Kullanıcılar’ın bilgilerinin açık rıza temin edilmeksizin işlenebileceği durumların başlıcaları aşağıda belirtilmiştir:</li>
            <li>Kanunlarda açıkça öngörülmesi,</li>
            <li>Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması,</li>
            <li>İnsan Kaynakları ve Personel Yönetim Sistemi Kullanıcı Sözleşmesi de dâhil olmak üzere bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, kişisel verilerin işlenmesinin gerekli olması,</li>
            <li>Hukuki yükümlülüklerin yerine getirebilmesi için zorunlu olması,</li>
            <li>Kullanıcı’nın kendisi tarafından alenileştirilmiş olması,</li>
            <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,</li>
            <li>Kullanıcı’nın temel hak ve özgürlüklerine zarar vermemek kaydıyla, WorkOfTime’nın meşru menfaatleri için veri işlenmesinin zorunlu olması.</li>
        </ul>
        <p>Yukarıda da belirtildiği üzere WorkOfTime, çerez (Cookie) kullanabilecek ve bu kapsamda veri işleyerek üçüncü kişiler tarafından sunulan analiz hizmetleri kapsamında işlenmesi amacıyla sadece bu analiz hizmetlerinin gerektirdiği ölçüde kullanılması amacıyla üçüncü kişilere iletebilecektir. Bahsi geçen teknik iletişim dosyaları, ana bellekte saklanmak üzere tarayıcıya (browser) gönderilen küçük metin dosyalarıdır. Teknik iletişim dosyası bir web sitesi hakkında durum ve tercih ayarlarını saklayarak internetin kullanımını bu anlamda kolaylaştırır. Teknik iletişim dosyası, internet sitelerini zamansal oranlamalı olarak kaç kişinin kullandığını, bir kişinin herhangi bir internet sitesini hangi amaçla, kaç kez ziyaret ettiği ve ne kadar kaldığı hakkında istatistiksel bilgileri elde etmek ve Kullanıcı için özel tasarlanmış kullanıcı sayfalarından dinamik olarak reklam ve içerik üretilmesine yardımcı olmak üzere tasarlanmış olup bu amaçlarla kullanılmaktadır. Teknik iletişim dosyası, ana bellekten başkaca herhangi bir kişisel veri almak için tasarlanmamıştır. Tarayıcıların pek çoğu başta teknik iletişim dosyasını kabul eder biçimde tasarlanmıştır, ancak kullanıcılar dilerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyasının gönderildiğinde ikaz verilmesini sağlayacak biçimde tarayıcı ayarlarını her zaman için değiştirebilirler. WorkOfTime ayrıca, online davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla Kullanıcılar’ın Platform’daki davranışlarını tarayıcıda bulunan bir cookie (çerez) ile ilişkilendirme ve görüntülenen sayfa sayısı, ziyaret süresi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama hakkını haizdir.</p>
        <h4>Verilere Kimler Erişebilmektedir?</h4>
        <p>Kullanıcılar, Kanun’un 11. Maddesi kapsamında WorkOfTime’ya başvurarak kendisiyle ilgili;</p>
        <ul>
            <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
            <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
            <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
            <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
            <li>Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme,,</li>
            <li>İlgili mevzuatta öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,</li>
            <li>İlgili mevzuat uyarınca yapılan düzeltme, silme ve yok edilme işlemlerinin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme</li>
            <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
            <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme, haklarına sahiptir.</li>
        </ul>
        <p>Kullanıcılar, yukarıda belirtilen taleplerini Üniversiteler Mahallesi 1596. Cadde Teknokent Sitesi 6. Arge C Blok Apartman No: 6 C/68 Posta kodu 06800 Çankaya / Ankara adresine yazılı olarak iletebilecektir. WorkOfTime, yukarıda yer alan talepler uyarınca, gerekçeli olumlu/olumsuz yanıtını, yazılı veya dijital ortamdan gerçekleştirebilir. Taleplere ilişkin gerekli işlemler için ücret alınmaması esastır. Bununla birlikte, işlemlerin bir maliyet gerektirmesi halinde, Kişisel Verilerin Korunması Kurulu tarafından, Kanun’un 13. maddesine göre belirlenen tarife üzerinden ücret talep edilmesi mümkündür.</p>
        <p>Kullanıcı, işbu Politika’ya konu bilgilerinin tam, doğru ve güncel olduğunu, bu bilgilerde herhangi bir değişiklik olması halinde bunları derhal güncelleyeceğini taahhüt eder. Kullanıcı’nın güncel bilgileri sağlamamış olması halinde WorkOfTime’nın herhangi bir sorumluluğu olmayacaktır.</p>
        <p>Kullanıcı, kişisel verisinin WorkOfTime tarafından kullanılamaması ile sonuçlanacak bir talepte bulunması halinde İnsan Kaynakları ve Personel Yönetim Sistemi Kullanıcı Sözleşmesi’nde belirtilen hizmetlerden kendisinin ve/veya Şirket’in faydalanılamayabileceğini kabul ve bu kapsamda doğacak her türlü sorumluluğun kendisine ait olacağını beyan eder.</p>
        <h4>Kişisel Verilerin Saklama Süresi</h4>
        <p>
            WorkOfTime, Kullanıcılar tarafından sağlanan kişisel verileri, Şirket’in ve Kullanıcı’nın Platform’dan faydalanabilmesi ve Platform’a konu hizmetlerin sağlanması için işbu Politika ile İnsan Kaynakları ve Personel Yönetim Sistemi Kullanıcı Sözleşmesi’nde belirlenen ve Platform ve ilgili hizmetlerin mahiyetinden kaynaklanan yükümlülüklerin yerine getirilmesi amacıyla, hizmetlerin sağlandığı süre boyunca saklayacaktır.
            Buna ek olarak, WorkOfTime, Şirket ve/veya Kullanıcı ile arasında doğabilecek herhangi bir uyuşmazlık durumunda, uyuşmazlık kapsamında gerekli savunmaların gerçekleştirilebilmesi amacıyla sınırlı olmak üzere ve ilgili mevzuat uyarınca belirlenen zamanaşımı süreleri boyunca kişisel verileri saklayabilecektir.
        </p>
        <h4>Veri Güvenliğine İlişkin Önlemler ve Taahhütler</h4>
        <p>WorkOfTime, ilgili mevzuatta belirlenen veya işbu Politika’da ifade edilen şartlarda,</p>
        <ul>
            <li>kişisel verilerin hukuka aykırı olarak işlenmemesini,</li>
            <li>kişisel verilere hukuka aykırı olarak erişilmemesini, ve</li>
            <li>kişisel verilerin muhafazasını sağlamak amacıyla uygun güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri almayı, gerekli denetimleri yaptırmayı taahhüt eder.</li>
        </ul>
        <p>WorkOfTime, Kullanıcılar hakkında elde ettiği kişisel verileri bu işbu Politika ve Kanun hükümlerine aykırı olarak başkasına açıklayamaz ve işleme amacı dışında kullanamaz.</p>
        <p>Site ve Platform üzerinden başka uygulamalara link verilmesi halinde, WorkOfTime uygulamaların gizlilik politikaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.</p>
        <h4>Politika’daki Değişiklikler</h4>
        <p>WorkOfTime, işbu Politika hükümlerini dilediği zaman değiştirebilir. Güncel Politika, Şirket’e ve/veya Kullanıcı’ya herhangi bir yöntemle sunulduğu tarihte yürürlük kazanır.</p>
    </div>
</div>