@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ana Sayfa";
}

<style>
    .sec-title h2 {
        color: red;
        font-size: 55px;
        font-weight: 700;
    }

        .sec-title h2 span {
            color: black;
        }

    #content_block_15 .content-box .text {
        font-size: 20px;
        color: #9d9d9d;
    }

    #image_block_14 .image-box .test {
        margin-left: -200px;
    }

    #image_block_14 .image-box .test2 {
        right: -50px;
        left: auto;
    }

    @@media only screen and (max-width: 767px) {
        .feature-style-six .inner-box:last-child .image-box img {
            width: auto;
        }
    }

    @@media only screen and (max-width: 599px) {
        #image_block_14 .image-box .test2 {
            right: auto;
            left: auto;
        }

        #image_block_14 .image-box .test {
            margin-left: 0px;
        }
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Themes2/images/background/pagetitle-bg.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="images/icons/anim-icon-17.png" alt=""></div>
        <div class="icon icon-2 rotate-me"><img src="images/icons/anim-icon-18.png" alt=""></div>
        <div class="icon icon-3 rotate-me"><img src="images/icons/anim-icon-19.png" alt=""></div>
        <div class="icon icon-4"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Ekran Görüntüleri</h1>
                <ul class="bread-crumb ">
                    <li>Ana Sayfa</li>
                    <li><a href="index.html">Ekran Görüntüleri</a></li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>






<section class="feature-style-six">
    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_15">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                            <div class="text">Get everything you'll ever need to manage your paperwork.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected you are going.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/image-shap-5.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/tab-1.png" alt=""></figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/phone-6.png" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Themes2/images/icons/image-shap-5.png); "></div>
                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/tab-1.png" alt=""></figure>
                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/phone-6.png" alt=""></figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_15">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                            <div class="text">Get everything you'll ever need to manage your paperwork.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected you are going.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_15">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                            <div class="text">Get everything you'll ever need to manage your paperwork.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected you are going.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Themes2/images/icons/image-shap-5.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/tab-1.png" alt=""></figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/phone-6.png" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Themes2/images/icons/image-shap-5.png); "></div>
                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/tab-1.png" alt=""></figure>
                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/Themes2/images/resource/phone-6.png" alt=""></figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_15">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                            <div class="text">Get everything you'll ever need to manage your paperwork.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected you are going.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
<script src="~/Content/Themes2/js/popper.min.js"></script>
<script src="~/Content/Themes2/js/bootstrap.min.js"></script>
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>
