@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ekran Görüntüleri";
}

<style>
    .sec-title h2 {
        color: red;
        font-size: 55px;
        font-weight: 700;
    }

        .sec-title h2 span {
            color: black;
        }

    #content_block_15 .content-box .text {
        font-size: 20px;
        color: #9d9d9d;
    }

    #image_block_14 .image-box .screen-right {
        margin-left: -200px;
    }

    #image_block_14 .image-box .screen-left {
        right: -50px;
        left: auto;
    }

    .boyut-desktop {
        height: 551px;
        width: 776px;
    }

    .boyut-mobile {
        height: 431px;
        width: 243px;
    }

    #content_block_34 .content-box .list-item li:before {
        font-size: 22px;
        color: #ff0000;
    }

    #content_block_34 .content-box .list-item li {
        font-size: 20px;
    }
    .feature-style-six {
       padding: 0px 0px 0px 0px !important;
    }
    .feature-section {
        padding: 110px 0px 0px 0px;
    }
    @@media only screen and (max-width: 767px) {
        .feature-style-six .inner-box:last-child .image-box img {
            width: auto;
        }
    }

    @@media only screen and (max-width: 599px) {
        #image_block_14 .image-box .screen-left {
            right: auto;
            left: auto;
        }

        #image_block_14 .image-box .screen-right {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width: 991px) {
        #image_block_14 .image-box .image-1 img {
            height: auto;
        }
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/screenshots-header.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/Content/Themes2/images/icons/anim-icon-17.png" alt="anim-icon-17" title="anim-icon-17"></div>
        <div class="icon icon-2 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-18.png" alt="anim-icon-18" title="anim-icon-18"></div>
        <div class="icon icon-3 rotate-me"><img src="~/Content/Themes2/images/icons/anim-icon-19.png" alt="anim-icon-19" title="anim-icon-19"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Ekran Görüntüleri</h1>
                <ul class="bread-crumb ">
                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                    <li>Ekran Görüntüleri</li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>

<section class="feature-style-six">

    <section class="feature-section" id="1">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="sec-title"><h2>Saha Görev <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>İş Gücü Yönetimi</li>
                                    <li>İş Emri Planlama</li>
                                    <li>Arıza, Bakım, Keşif, Montaj, Kurulum Yönetimi</li>
                                    <li>Bakım Planlama</li>
                                    <li>Periyodik ve Kestirimci Bakımlar</li>
                                    <li>Lokasyon Bazlı İş Yönetimi</li>
                                    <li>Mobil Dinamik Form Yönetimi</li>
                                    <li>Rut Planlama ve Anlık İş Bildirimleri</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                                <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/Planlanmis_Bakim.png" alt="Planlanmış Bakım Yönetimi" title="Saha Görev Yönetimi">
                                </figure>
                                <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/saha-gorev-yonetimi-mobil.png" alt="Saha Görev Yönetimi Mobil" title="Saha Görev Yönetimi Mobil">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="2">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box " style="margin-left:0px;">
                                <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                                <figure class="image image-1 clearfix wow slideInRight animated screen-right" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/saha-gorev-yonetimi-ekran-goruntu.png" alt="Saha Operasyon Yönetimi" title="Saha Operasyon Yönetimi">
                                </figure>

                                <figure style="" class="image image-2 wow slideInUp animated screen-left" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/Mobil-NFC.png" alt="Saha Operasyon Yönetimi Mobil" title="Saha Operasyon Yönetimi Mobil">
                                </figure>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="sec-title"><h2>Saha Operasyon <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Video, Resim, Ses Kaydı Görev İşleme</li>
                                    <li>Dijital Form İmzalama</li>
                                    <li>SMS, E-Posta, Push Notification Bildirimler</li>
                                    <li>Personel Konum Takibi</li>
                                    <li>Araç Takibi</li>
                                    <li>NFC, Barcode, Qr, Beacon, Wifi Görev Yeri</li>
                                    <li>Tesis Yönetimi</li>
                                    <li>Stok ve Yedek Parça Yönetimi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="3">

        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="sec-title"><h2>Ürün, Depo, Stok <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Ürün, Envanter, Varlık, Demirbaş Yönetimi</li>
                                    <li>Envanter Yaşam Döngüsü İzleme</li>
                                    <li>Depo ve Ambar Yönetimi</li>
                                    <li>Karekod, QR ve Barkod Yönetimi ile StokTakibi</li>
                                    <li>Zimmet Yönetimi</li>
                                    <li>Tedarik ve Satın Alma</li>
                                    <li>Üretim Takibi</li>
                                    <li>Teknik Servis Yönetimi</li>
                                    <li>Araç Depo ve Zimmet Yönetimi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                                <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/urun-stok-yonetimi-ekran-goruntu.png" alt="Ürün Stok Yönetimi" title="Ürün Stok Yönetimi">
                                </figure>
                                <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/urun-stok-yonetimi-mobil.png" alt="Ürün Stok Yönetimi Mobil" title="Ürün Stok Yönetimi Mobil">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="4">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box " style="margin-left:0px;">
                                <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                                <figure class="image image-1 clearfix wow slideInRight animated screen-right" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/satis-siparis-yonetimi-ekran-goruntu.png" alt="Satış Sipariş Yönetimi" title="Satış Sipariş Yönetimi">
                                </figure>

                                <figure style="" class="image image-2 wow slideInUp animated screen-left" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/satis-siparis-yonetimi-mobil.png" alt="Satış Sipariş Yönetimi Mobil" title="Satış Sipariş Yönetimi Mobil">
                                </figure>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>CRM, Satış, Sipariş <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Potansiyel Yönetimi</li>
                                    <li>Satış Duvarı</li>
                                    <li>Hızlı Teklif Yönetimi</li>
                                    <li>Teklif Şablon Yönetimi</li>
                                    <li>Sipariş Yönetimi</li>
                                    <li>Pesonel Takip</li>
                                    <li>Satış Raporları</li>
                                    <li>Müşteri ve Bayi Yönetimi</li>
                                    <li>Sözleşme ve Müşteri Evrakları</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="5">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>İnteraktif Organizasyon Yönetimi</li>
                                    <li>İzin, Avans, Masraf Talep Yönetimi</li>
                                    <li>Görevlendirme ve Seyahat Yönetimi</li>
                                    <li>Eğitim, Sertifika ve Dosya Yönetimi</li>
                                    <li>İSG Yönetimi</li>
                                    <li>Özlük Dosyaları Arşiv Yönetimi</li>
                                    <li>Islak İmzalı Dosya Yönetimi</li>
                                    <li>Performans 360</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                                <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/ik-yonetimi-ekran-goruntu.png" alt="İK Yönetimi" title="İK Yönetimi">
                                </figure>
                                <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/ik-yonetimi-mobil.png" alt="İK Yönetimi Mobil" title="İK Yönetimi Mobil">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="6">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box " style="margin-left:0px;">
                                <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                                <figure class="image image-1 clearfix wow slideInRight animated screen-right" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/proje-yonetimi-ekran-goruntu.png" alt="Proje Yönetimi" title="Proje Yönetimi">
                                </figure>

                                <figure style="" class="image image-2 wow slideInUp animated screen-left" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/proje-yonetimi-mobil.png" alt="Proje Yönetimi Mobil" title="Proje Yönetimi Mobil">
                                </figure>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>Proje <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Proje Durum Raporlama</li>
                                    <li>Tübitak/Teknokent/Kasgeb/Projeleri Yönetimi</li>
                                    <li>Proje Dosyaları Takibi ve Arşiv Yönetimi</li>
                                    <li>Projenin Fatularının Yönetimi</li>
                                    <li>Proje Zaman Planlama ve Proje Durumu İzleme</li>
                                    <li>Proje Satın Alma Yönetimi</li>
                                    <li>Proje İş Kalemleri Ve Gannt Chart Takibi</li>
                                    <li>Proje Maliyeti Takibi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="7">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>Ofis <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Aktivitelerim</li>
                                    <li>Şirket Gündemi</li>
                                    <li>Organizasyon Şeması</li>
                                    <li>İletişim Rehberi</li>
                                    <li>Şirket Dosyaları ve Kütüphane</li>
                                    <li>Şirket Yönetmelikleri</li>
                                    <li>Şirket Evrakları</li>
                                    <li>Duyuru, Bildirim ve Etkinlikler</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                                <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/ofis-yonetimi-ekran-goruntu.png" alt="Ofis Yönetimi" title="Ofis Yönetimi">
                                </figure>
                                <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/ofis-yonetimi-mobil.png" alt="Ofis Yönetimi Mobil" title="Ofis Yönetimi Mobil">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="8">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box " style="margin-left:0px;">
                                <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                                <figure class="image image-1 clearfix wow slideInRight animated screen-right" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/CRM-Haritasi.png" alt="Harita Bazlı Raporlar" title="Harita Bazlı Raporlar">
                                </figure>

                                <figure style="" class="image image-2 wow slideInUp animated screen-left" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/CRM-Mobil.png" alt="Harita Bazlı Raporlar Mobil" title="Harita Bazlı Raporlar Mobil">
                                </figure>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>Harita Bazlı <span>Yönetim</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Müşteri Haritası</li>
                                    <li>Depo Haritası</li>
                                    <li>Personel Anlık Takip</li>
                                    <li>Saha Görevleri Anlık Takip</li>
                                    <li>Haritadan Stok Sorgulama</li>
                                    <li>Görev Konum Doğrulama</li>
                                    <li>Satış Haritası</li>
                                    <li>Görev Haritası</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-section" id="9">
        <div class="container">
            <div class="inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                        <div id="content_block_34">
                            <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">

                                <div class="sec-title"><h2>Dashboard <span>Yönetimi</span> </h2></div>
                                <ul class="list-item clearfix">
                                    <li>Operasyon Raporları</li>
                                    <li>Anlık Personel Takip</li>
                                    <li>Satış Raporları</li>
                                    <li>Toplantı ve Aktivite Raporları</li>
                                    <li>Harita Tabanlı Anlık İzlemeler</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                        <div id="image_block_14">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                                <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/Toplanti-Raporu.png" alt="Toplantı Raporu" title="Toplantı Raporu">
                                </figure>
                                <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/Mobil_Toplanti_Raporu.png" alt="Toplantı Raporu Mobil" title="Toplantı Raporu Mobil">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>


<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
@*<script src="~/Content/Themes2/js/popper.min.js"></script>*@
@*<script src="~/Content/Themes2/js/bootstrap.min.js"></script>*@
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>
