@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Ekran Görüntüleri";
}

<style>
    .sec-title h2 {
        color: red;
        font-size: 55px;
        font-weight: 700;
    }

        .sec-title h2 span {
            color: black;
        }

    #content_block_15 .content-box .text {
        font-size: 20px;
        color: #9d9d9d;
    }

    #image_block_14 .image-box .test {
        margin-left: -200px;
    }

    #image_block_14 .image-box .test2 {
        right: -50px;
        left: auto;
    }

    .boyut-desktop {
        height: 551px;
        width: 776px;
    }

    .boyut-mobile {
        height: 431px;
        width: 243px;
    }

    #content_block_34 .content-box .list-item li:before {
        font-size: 22px;
        color: #ff0000;
    }

    #content_block_34 .content-box .list-item li {
        font-size: 20px;
    }

    @@media only screen and (max-width: 767px) {
        .feature-style-six .inner-box:last-child .image-box img {
            width: auto;
        }
    }

    @@media only screen and (max-width: 599px) {
        #image_block_14 .image-box .test2 {
            right: auto;
            left: auto;
        }

        #image_block_14 .image-box .test {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width: 991px) {
        #image_block_14 .image-box .image-1 img {
            height: auto;
        }
    }
</style>

<section class="page-title" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/screenshots-header.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="images/icons/anim-icon-17.png" alt=""></div>
        <div class="icon icon-2 rotate-me"><img src="images/icons/anim-icon-18.png" alt=""></div>
        <div class="icon icon-3 rotate-me"><img src="images/icons/anim-icon-19.png" alt=""></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Ekran Görüntüleri</h1>
                <ul class="bread-crumb ">
                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                    <li>>Ekran Görüntüleri</li>
                </ul>
            </div>

        </div>
    </div>
    <br /><br />
    <br /><br /><br /><br />
</section>






<section class="feature-style-six">

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>İnsan Kaynakları <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>İnteraktif Organizasyon Yönetimi</li>
                                <li>Departman Yönetimi</li>
                                <li>İzin İşleri Yönetimi</li>
                                <li>Personel Görüntüleme ve Sorgulama</li>
                                <li>Personel Raporları</li>
                                <li>Özlük Dosyaları Arşiv Yönetimi</li>
                                <li>Islak İmzalı Dosya Yönetimi</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/ik-yonetimi-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/ik-yonetimi-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/urun-stok-yonetimi-ekran-goruntu.png" alt="">
                            </figure>

                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/urun-stok-yonetimi-mobil.png" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Ürün & Stok <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Envanter,Varlık,Demirbaş Yönetimi</li>
                                <li>Envanter Yaşam Döngüsü İzleme</li>
                                <li>Harita Üzerinden Envanter Takibi</li>
                                <li>Karekod ve Barkod Yönetimi Stok</li>
                                <li>Hareketleri Zimmet Yönetimi Tedarikçi</li>
                                <li>ve Tedarik Yönetim Ürün Fiyat</li>
                                <li>Yönetimleri Kategori Yönetimi Fatura</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Proje <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Proje Durum Raporlama</li>
                                <li>Tubitak/Teknokent/Kasgeb/Projeleri Yönetimi</li>
                                <li>Proje Dosyaları Takibi ve Arşiv Yönetimi</li>
                                <li>Projenin Fatularının Yönetimi</li>
                                <li>Proje Zaman Planlama ve Proje Durumu İzleme</li>
                                <li>Proje Satın Alma Yönetimi</li>
                                <li>Proje İş Kalemleri Ve Gannt Chart Takibi</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/proje-yonetimi-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/proje-yonetimi-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/saha-gorev-yonetimi-ekran-goruntu.png" alt="">
                            </figure>

                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/saha-gorev-yonetimi-mobil.png" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Saha Görev <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Arıza,Bakım,Kalibrasyon Yönetimi</li>
                                <li>Keşif,Montaj,Kurulum Yönetimi</li>
                                <li>Parça Değişikliği Yönetimi</li>
                                <li>Karekodlu İşlem Bildirimi</li>
                                <li>Lokasyon Bazlı İş Yönetimi</li>
                                <li>Mobil Form Yönetimi</li>
                                <li>Rut Planlama Anlık İş Bildirimleri Bakımı</li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Muhasebe & Finans <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Finans İşlemleri</li>
                                <li>Gelirler,Giderler,Kasalar</li>
                                <li>Personel Maaş Ödemeleri</li>
                                <li>Personel Harcı Ödemeleri</li>
                                <li>Personel Masraf Ödemeleri</li>
                                <li>Finansal Raporlar</li>
                                <li>Cariler</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/muhasebe-finans-yonetimi-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/muhasebe-finans-yonetimi-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/ofis-yonetimi-ekran-goruntu.png" alt="">
                            </figure>

                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/ofis-yonetimi-mobil.png" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Ofis <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Aktivitelerim</li>
                                <li>Şirket Gündemi</li>
                                <li>Organizasyon Şeması</li>
                                <li>İletişim Rehberi</li>
                                <li>Şirket Dosyaları</li>
                                <li>Şirket Yönetmelikleri</li>
                                <li>Şirket Evrakları</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Satın Alma <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Satın Alma Talepleri</li>
                                <li>Satın Alma Talep Onayları</li>
                                <li>Tedarikçi Yönetimi ve Takibi</li>
                                <li>Satın Alma Talepleri Onayları</li>
                                <li>Hızlı Fiyat Araştırma</li>
                                <li>Teklif Yönetimi</li>
                                <li>Teklif Onaylama</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/satinalma-yonetimi-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/satinalma-yonetimi-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/sistem-yonetimi-ekran-goruntu.png" alt="">
                            </figure>

                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/sistem-yonetimi-mobil.png" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Sistem  <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Birim Tanımları</li>
                                <li>Para Birimleri</li>
                                <li>Lokasyonlar(Ülke/İl/İlçe)</li>
                                <li>Sektörler</li>
                                <li>Saha Form Tanımları</li>
                                <li>Departman Tanımları</li>
                                <li>İzin Tanımları/Tipleri</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Harita Bazlı <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Proje Raporları</li>
                                <li>Satın Alma Raporları</li>
                                <li>Fatura Raporları</li>
                                <li>Şirket Saha Görev Raporları</li>
                                <li>İşletme(Cari) Raporlama</li>
                                <li>Kullanıcı Oturum</li>
                                <li>Raporları İK Raporları</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/harita-bazli-raporlar-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/harita-bazli-raporlar-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box " style="margin-left:0px;">
                            <div class="bg-layer" style="left: -235px; background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgLeft.png); "></div>

                            <figure class="image image-1 clearfix wow slideInRight animated test" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/dahsboard-yonetimi-ekran-goruntu.png" alt="">
                            </figure>

                            <figure style="" class="image image-2 wow slideInUp animated test2" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/dashboard-yonetimi-mobil.png" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Dashboard <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Haftalık Etkinlik Görünümü</li>
                                <li>İzin Görüntüleme</li>
                                <li>Yeni Talep Kısayolları</li>
                                <li>Şirket Takvimi</li>
                                <li>Benim Bilgilerim</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-box">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div id="content_block_34">
                        <div class="content-box wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sec-title"><h2>Satış & Sipariş <span>Yönetimi</span> </h2></div>
                            <ul class="list-item clearfix">
                                <li>Dinamik Teklif</li>
                                <li>Teklif Şablon Yönetimi</li>
                                <li>Sipariş Rezerve Yönetemi</li>
                                <li>Stok-İrsaliye-Depo Yönetimi</li>
                                <li>Giden İrsaliyeler Yönetimi</li>
                                <li>Satış Fatuları Yönetimi</li>
                                <li>Ürün Stok Sorgulama</li>
                                <li>....</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                    <div id="image_block_14">
                        <div class="image-box">
                            <div class="bg-layer" style="background-image: url(../../Content/Custom/Template/Images/ScreenShots/splashBgRight.png);"></div>
                            <figure class="image image-1 clearfix wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-desktop" src="~/Content/Custom/Template/Images/ScreenShots/satis-siparis-yonetimi-ekran-goruntu.png" alt="">
                            </figure>
                            <figure class="image image-2 wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <img class="boyut-mobile" src="~/Content/Custom/Template/Images/ScreenShots/satis-siparis-yonetimi-mobil.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="~/Content/Themes2/js/script.js"></script>
<script src="~/Content/Themes2/js/tilt.jquery.js"></script>
<script src="~/Content/Themes2/js/jquery.js"></script>
<script src="~/Content/Themes2/js/popper.min.js"></script>
<script src="~/Content/Themes2/js/bootstrap.min.js"></script>
<script src="~/Content/Themes2/js/owl.js"></script>
<script src="~/Content/Themes2/js/wow.js"></script>
<script src="~/Content/Themes2/js/validation.js"></script>
<script src="~/Content/Themes2/js/appear.js"></script>
<script src="~/Content/Themes2/js/scrollbar.js"></script>
<script src="~/Content/Themes2/js/jquery.paroller.min.js"></script>
