.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000de;
}

/* Modal Content */
.modal-content {
    position: relative;
    /*//   background-color: #0000000a;*/
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    right: 5% !important;
    font-weight: bold !important;
    float: right;
    font-size: 55px !important;
    color: #fff !important;
    filter: alpha(opacity=20);
    opacity: 1;
    line-height: 0 !important;
    position: relative;
}

    .close:hover,
    .close:focus {
        color: red !important;
        text-decoration: none !important;
        cursor: pointer !important;
    }

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: #00000000;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    margin: 10px;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
    cursor: pointer;
}

/*.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/


.img-size {
    width: 100% !important;
}

.font-stil {
    color: #ffffff !important;
    font-size: 25px;
}


/*.carousel-control.right {
    background-image: -webkit-linear-gradient( 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgb(81, 15, 28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}*/
.chevron-stil {
    margin-top: 22vh;
    font-size: 58px;
}

.laptop-stil {
    width: 100%;
    margin-top: 20px;
}

    .laptop-stil:hover {
        padding: 7px;
    }

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

.modal-content {
    background-color: transparent !important;
}

.carousel-caption {
    position: relative !important;
}

.font-properties {
    color: black;
    margin-top: 25px;
}

#inSlider1 .carousel-caption h1 {
    font-size: 36px;
    font-weight: 400;
    color: #c6324a;
    letter-spacing: -1px;
    text-transform: initial !important;
}


#inSlider1 .carousel-caption h2 {
    font-size: 36px;
    font-weight: 400;
    color: #c6324a;
    letter-spacing: -1px;
    text-transform: initial !important;
}

@media screen and (max-width: 400px) {
    .carousel-caption {
        left: 0% !important;
    }
}


.modal-content {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.carousel-caption {
    text-shadow: none !important;
}


.statistic-app .statis-block h1 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}
