@media (max-width: 767px) {
    .dene {
        overflow-x: auto;
        overflow-y: auto;
    }
}

.m-r-x-xs {
    margin-right: 3px;
}

.hr-line-dashed {
    margin: 5px 0;
}

.style-edit {
    background: white !important;
    border-top: 1px solid #e5e5e5;
}

.small-modal {
    font-size: 70%;
}

a.new-title-color {
    color: #fff;
    text-decoration: none;
}

    a.new-title-color:hover, a.new-title-color:active {
        color: #ddd;
        text-decoration: none;
    }

a.new-title-color {
    color: #fff;
    text-decoration: none;
}

    a.new-title-color:hover, a.new-title-color:active {
        color: #ddd;
        text-decoration: none;
    }

@media (min-width: 1200px) {

    .boxed-layout .skin-m-t {
        margin-top: 10px;
    }

    .skin-1 .skin-m-b, .skin-3 .skin-m-b {
        margin-bottom: 85px;
    }
}

.boxed-layout .display-mode {
    display: block;
    clear: right;
    width: 100%;
    margin-bottom: 10px;
}

.boxed-layout .width-100 {
    width: 100% !important;
}

.boxed-layout .footer-full {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    right: 0;
}

.skin-1 .skin1-border, .skin-3 .skin1-border {
    border-left: none;
    border-right: none;
}

.skin-1 .ibox-content .skin1-border-none:last-child, .skin-3 .ibox-content .skin1-border-none:last-child {
    border-style: solid solid none;
    border-width: 1px 0;
}

.edit-time {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 0 15px;
}

.footer.full {
    left: 0;
    padding: 10px 20px;
    right: 0;
    color: #a7b1c2;
    clear: left;
    bottom: inherit;
    border: none;
    background: transparent;
}

@media screen and (max-height: 600px) {
    h1.intro-title {
        margin-top: 28px;
        font-size: 32px;
    }

    .intro-text {
        margin-top: 18px;
    }
}

.intro-text {
    margin-top: 24px;
    font-size: 14px;
    color: #929fa6;
    line-height: 20px;
    text-align: center;
}

h1.intro-title {
    color: #4b5961;
    font-size: 36px;
    margin-top: 38px;
    text-align: center;
}

.table-right-content {
    text-align: right;
}

.table-left-content {
    text-align: left;
}

.table-center-content {
    text-align: center;
}

.longtext {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.deneme_r {
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
    z-index: 90;
}

.r_wrapper_normal {
    width: 94px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: 11px;
}

.r_normal {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 16px;
    width: 128px;
    background-color: #34c6cd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34c6cd), to(#34c6cd));
    background-image: -webkit-linear-gradient(top, #34c6cd, #34c6cd);
    background-image: -moz-linear-gradient(top, #34c6cd, #34c6cd);
    background-image: -ms-linear-gradient(top, #34c6cd, #34c6cd);
    background-image: -o-linear-gradient(top, #34c6cd, #34c6cd);
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

    .r_normal:before, .r_normal:after {
        content: "";
        border-top: 3px solid #1d7074;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

    .r_normal:before {
        left: 0;
    }

    .r_normal:after {
        right: 0;
    }

​ .deneme {
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-system {
    width: 94px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: 11px;
}

.ribbon-system {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 17px;
    width: 128px;
    background-color: #ffbe00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbe00), to(#ffbe00));
    background-image: -webkit-linear-gradient(top, #ffbe00, #ffbe00);
    background-image: -moz-linear-gradient(top, #ffbe00, #ffbe00);
    background-image: -ms-linear-gradient(top, #ffbe00, #ffbe00);
    background-image: -o-linear-gradient(top, #ffbe00, #ffbe00);
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

    .ribbon-system:before, .ribbon-system:after {
        content: "";
        border-top: 3px solid #a68100;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

    .ribbon-system:before {
        left: 0;
    }

    .ribbon-system:after {
        right: 0;
    }

​ .normal_color {
    color: #34c6cd;
}

.system_color {
    color: #ffbe00;
}

.onoffswitch-inner:before {
    content: "I" !important;
}

.onoffswitch-inner:after {
    content: "O" !important;
}

.btn-group.has-error {
    border: 1px solid #ED5565;
}

@media print {
    .no-print {
        display: none !important;
        height: 0;
    }
}

.fileinput label.error {
    display: block !important;
}

@media only screen and (max-device-width: 640px) {
    .navbar-top-links .dropdown-alerts {
        margin-left: -60px;
    }

    .navbar-top-links .dropdown-alerts {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .navbar-right {
        float: right !important;
        margin-right: 2px;
    }
}

.breakword {
    max-width: 300px;
    word-break: break-word;
}

.nav-second-level li a {
    text-transform: capitalize;
}

.link-edit {
    cursor: pointer;
    font-style: italic !important;
}

    .link-edit a:hover {
        text-decoration: underline;
    }

    .link-edit a {
        color: #676a6c;
    }

.menu2 .navbar, .menu3 .navbar {
    margin-bottom: 0;
}

.menu2 .nav > li > a, .menu3 .nav > li > a {
    padding: 15px 20px;
}

.menu2 .nav > li a:hover, .menu3 .nav > li a:hover {
    background: #fff;
    color: #1ab394;
}

.menu2 .navbar .nav > li.active,
.menu2 .navbar .nav > li a:focus,
.menu3 .navbar .nav > li.active,
.menu3 .navbar .nav > li a:focus {
    background: #f8f8f8;
    border: none;
}

.menu2 .nav > li.active > a,
.menu3 .nav > li.active > a {
    color: #1ab394;
}

.menu2 .navbar-brand,
.menu3 .navbar-brand {
    font-size: 16px;
}

cancel {
    background-color: #fff;
    border-radius: 4px;
    color: #ca4440;
    border: 1px solid #ca4440;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
}

status {
    background-color: #fff;
    border-radius: 4px;
    color: #909090;
    border: 1px solid #909090;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
}

transition {
    background-color: #fff;
    border-radius: 4px;
    color: #f8ac59;
    border: 1px solid #f8ac59;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
    cursor: pointer;
}

close {
    background-color: #fff;
    border-radius: 4px;
    color: #555;
    border: 1px solid #555;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
}

done {
    background-color: #fff;
    border-radius: 4px;
    color: #1c84c6;
    border: 1px solid #1c84c6;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
}

open {
    background-color: #fff;
    border-radius: 4px;
    color: #1ab394;
    border: 1px solid #1ab394;
    font-size: 90%;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-transform: uppercase;
}

.html-editor h1, .html-editor h2, .html-editor h3, .html-editor h4, .html-editor h5, .html-editor h6 {
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    color: rgb(103, 106, 108);
    cursor: auto;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 14px;*/
    font-style: normal;
    font-weight: bold;
    /*line-height: 20px;*/
    letter-spacing: normal;
    text-align: start;
    text-decoration: none solid rgb(103, 106, 108);
    text-indent: 0px;
    text-rendering: auto;
    word-break: normal;
    word-wrap: break-word;
    word-spacing: 0px;
}

h3.user-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 500px) {
    .font-bold.user-nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 500px) {
    h5.user-nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 88%;
        line-height: inherit;
    }
}

@media only screen and (max-width: 680px) {
    .menu2, .menu3 {
        margin-left: 20px;
    }
}
