@model CarTender.BusinessData.SH_Role
@{
    ViewBag.Title = "Rol Ekleme";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@using(Html.BeginForm("Insert", "SH_Role", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="rolname">Rol İsmi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.rolname, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen rol ismi giriniz.."},
            }).Validate(Validations.TextEveryone(true))
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}

