<?xml version="1.0" encoding="utf-8"?>
<config>
  <connection>
    <server>46.221.52.222</server>
    <userName>developer</userName>
    <password>qquYs84vJaBe9fKsCRdg/Fu3AwaRCGbbORwho+9NKe8=</password>
    <database>InfolineTEST</database>
  </connection>

  <webPages>
    <!--<page area="HDM" table="HDM_Category" view="VWHDM_Category" />-->

  </webPages>
  <extensionVersion>1.0.0</extensionVersion>
</config>